@charset "utf-8";
/* CSS Document */
body{	background-color:#333333; /*整个页面的基底色*/
}
.clear{
	/*left: 185px;*/
	position: fixed;/*固定作用*/
	z-index: 9999;/*让导航栏浮在网页的高层位置，遇到flash和图片时候也能始终保持最外层 */
	top: 0px;
	background: #000000;
	/*position: relative;*/}
#xjm h1{
	color: white;
	font-family: "Microsoft YaHei";
	/*background: #666600;*/
    width: 80px;
    float: left;
    text-align: center;}
#xjm{
	padding-left: 20px;}
#nav{
	width:1520px;
	/*height: 80px;
	padding-right: 50px;
	/*margin-top: 30px;/*与浏览器顶部的距离30px*/}
#nav a{
	font-weight: bold;/*加粗*/
	font-size: 20px;
	text-decoration: none;/*删除链接下划线*/
	font-family: "Microsoft YaHei";
	float: right;
	width: 100px;
	list-style:none;
	/*background-color: #592059;/*盒子色*/
	line-height: 80px;}
#nav a:hover{
	color:#fff;
	font-size: 25px; }
img {
            width: 100%;
        }

        .li_img {
            width: 800px;
            float: left;
            list-style: none;
        }

        .ul_img {
            width: 6000px;
            padding: 0px;
            margin: 0px;
            transition: all 2s;
        }

        .main_div {
            width: 800px;
            overflow: hidden;
            position: relative;
            top: 100px;
            left: 350px;
        }

        .arrows {
            z-index: 9999;
            position: absolute;
            padding-top: 230px;
            width: 800px;
        }

        .arrows span {
            font-size: 3em;
            color: seashell;
        }

        .arrows span:hover {
            /*变小手*/
            cursor: pointer;
            background-color: rgba(192, 192, 192, 0.29);
        }

        .div_btn {
            float: left;
            border-radius: 100px;
            background-color: aquamarine;
            width: 60px;
            height: 10px;
            margin-left: 10px;
            margin-top: 130px;
        }

        .div_btn:hover {
            background-color: aqua; }

