body{
  font-family: 'Open Sans', sans-serif;
    background-color: #fff;
  }
  header{
  	
    text-align: center;
  	font-size: 1.8em;
    padding: 70px;
   
  }
  a{
    
    font-size: 16px;
  }
  a:hover{
    text-decoration: none;
  }
  
  button{
    margin-left: 16%;
    margin-bottom: 10px;
    background-color: white;
    width: 72px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
    border: white;
  }
  h1,footer{
  	text-align: center;
  	font-size: 1.8em;
  } 
  p{ 
     /*font-family: IlV;*/
    margin: 20px;
    font-family: "微软雅黑";
   }
  .item_img{
    width: 75%;
    margin-left: 12%;
  }
  .icon_img{
  	width: 25px;
  }
  #moodCard{
  	/*width: 80%;*/
    float: right;
  }
  #dailyMood {
    display: inline-block;
    width: 40%;  
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    border: 1px solid #eee;
    vertical-align: top;
    margin-right: 15px;
    margin-left: 15px;
    transition: box-shadow 0.2s linear;
    margin-bottom: 30px;
  }
  hr{
    text-align: center;
    width: 80%;
  }
  .moodCard-tag{
    color: gray;
    font-size: 1.2em;
    float: right;
  }

  
.sidebar-offcanvas{
  float: left;
}
footer{
  background-color: #333;
  color: #000;
  font-size: 16px;
}

.nav{
  float: left;
}
/* Tooltip 容器 */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* 悬停元素上显示点线 */
}
 
/* Tooltip 文本 */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* 定位 */
    position: absolute;
    z-index: 1;
}
 
/* 鼠标移动上去后显示提示框 */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
