body{
  font-family: 'Open Sans', sans-serif;
    background-color: #fff;
  }
  header{
   background-color: #337ab7;
    margin-bottom: 45px;
    color:white;
  	font-size: 1.8em;
    padding: 70px;
    border-radius: 10px; 
  }
  a{
    color: white;
    font-size: 16px;
  }
  a:hover{
    text-decoration: none;
  }
  
  
  h1,footer{
  	text-align: center;
  	font-size: 1.8em;
  } 
  p{ 
    margin: 20px;
    font-family: "微软雅黑";
   }
  .item_img{
    width: 75%;
    margin-left: 12%;
  }
  .icon_img{
  	width: 25px;
  }
  #moodCard{
  	
    float: right;
  }
  #dailyMood {
    display: inline-block;
    width: 40%;  
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    border: 1px solid #eee;
    vertical-align: top;
    margin-right: 15px;
    margin-left: 15px;
    transition: box-shadow 0.2s linear;
    margin-bottom: 30px;
  }
  hr{
    text-align: center;
    width: 80%;
  }
  .moodCard-tag{
    color: gray;
    font-size: 1.2em;
    float: right;
  }

  
.sidebar-offcanvas{
  float: left;
}
footer{
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  height: 100px;
}
footer a{
  display: block;
  padding: 20px;
}
.nav{
  float: right;
}
/* Tooltip 容器 */
.tip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;  悬停元素上显示点线 */
}
 
/* Tooltip 文本 */
.tip .tiptext {
   font-size: 0.5em;
    visibility: hidden;
    width: 100px;
    background-color:white;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* 定位 */
    position: absolute;
    z-index: 1;
}
 
/* 鼠标移动上去后显示提示框 */
.tip:hover .tiptext {
    visibility: visible;
}
.tip .tiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* 提示工具头部 */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
